*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Fonts & defaults*/

a {
  text-decoration: none;
}

body {


}

/*Colors*/
:root {
  --primary-color: #fdfdfd;
  --secondary-color: #e8e7e1;
  --main-background-color: #e6e5df;
  --text-color: #1c1a15;
  --light-green: #3aa935;
}

/*Layout*/

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  padding: 1rem calc(38rem/16);
  flex-basis: calc(90rem/16);
  flex-shrink: 0;
  background-color:var(--primary-color);
  justify-content: space-between;

  & .logo {
    width: calc(238rem/16);
  }

  & address {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-style: unset;
  }
}
.phone-icon {
  width: 2rem;
}

.phone-number {
  display: none;
}

main {
  background: var(--main-background-color);
  flex-grow: 1;
}

@media screen and (min-width: 1024px)  {
  .phone-number {
    display: unset;
    color: var(--text-color);
    font-weight: bold;
  }

  
}