@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Fonts & defaults*/

a {
  text-decoration: none;
}

h4 {
  text-transform: uppercase;
}

body {
  font-family: "Roboto", serif;
}

/*Colors*/
:root {
  --bg-lightest: #fdfdfd;
  --bg-secondary: #e8e7e1;
  --dark-color: #1c1a15;
  --bg-main: #e6e5df;
  --color-success: #3aa935;
  --accent-color: #EA721B;
  --white-color: #FFF;
  --white-text-color: #F4F4F1;
  --border-light: #E8E7E1;
  --border-dark: #484640;
}

/*Layout*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  padding: 1rem calc(38rem / 16);
  flex-basis: calc(90rem / 16);
  flex-shrink: 0;
  background-color: var(--bg-lightest);
  justify-content: space-between;

  & .logo {
    height: calc(40rem / 16);
    align-self: center;
  }

  & address {
    display: flex;
    align-items: center;
    font-style: normal;
    a {
      display: flex;
      align-items: center;
      gap: .7rem;
    }
  }
}

.phone-icon {
  width: 2rem;
}

.phone-number {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  background: var(--bg-main);
  flex-grow: 1;
  align-items: center;
  padding-top: calc(58rem / 16);
  padding-left: calc(35rem / 16);
  padding-right: calc(35rem / 16);
  overflow: hidden;
}


.price-examples {
  min-width: calc(360rem / 16);
  margin: 0;
  padding: 0;

  tbody {
    display: flex;
    flex-direction: column;
  }

  & td {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
  }
}

.sales-comparison-title {
  display: flex;
}

.description-price-example {
  display: flex;

  td {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    padding: calc(30rem / 16) calc(19rem / 16);
    background-color: var(--dark-color);
    color: white;
  }

  & ul {
    color: var(--white-text-color);
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    padding-left: calc(12rem / 16);
  }


  h4, li::marker {
    color: var(--accent-color);
  }
}

.sales-comparison-title > td, .prices-comparison > td {
  justify-content: center;
  align-items: center;
}

.sales-comparison-title {
  flex-basis: 2.5rem;
  color: var(--white-color);

  td {
    background-color: var(--accent-color);
    border-right: 1px solid #D6A40080;
  }
}

.prices-comparison {
  display: flex;
  flex-basis: calc(72rem / 16);
  background-color: var(--white-color);
  border-top: 1px solid var(--border-light);
  margin-bottom: calc(32rem / 16);

  td {
    display: flex;
    flex-direction: column;
  }

  td:first-of-type {
    border-right: 1px solid var(--border-light);
  }

  .price {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .price-addition {
    color: var(--color-success);
  }
}

.labels-for-desktop {
  display: none;
}

@media screen and (min-width: 1225px) {
  header {
    flex-basis: calc(100rem / 16);
  }

  main {
    padding-top: calc(186rem / 16);
  }

  .phone-number {
    display: unset;
    color: var(--dark-color);
    font-weight: 600;
  }

  .price-examples {
    position: relative;

    tbody {
      width: calc(1160rem / 16);
      flex-direction: row;
    }

    tbody:first-of-type {
      .sales-comparison-title {
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 50%;
        height: calc(50rem / 16);
        top: calc(-50rem / 16);
        right: 0;

        td {
          flex-basis: 40%;
          flex-grow: 0;
        }
      }

    }
  }

  .sales-comparison-title {
    display: none;
  }


  .description-price-example {
    flex-basis: 700px;
    border-top: 1px solid var(--border-dark);
  }


  .description-price-example, .prices-comparison {
    flex-basis: 50%;
  }


  .description-price-example {
    & ul {
      justify-content: space-between;
      flex-direction: row;

      li {
        flex-basis: 50%;

      }
    }
  }

  .prices-comparison {
    margin-bottom: unset;;
  }
}